.container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 300px; 
}

/* 各ボックス */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%; 
    background-color: black; 
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
}

.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; 
    background-color: black; 
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
}

.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.6%; 
    background-color: black; 
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
}

form{
    display:flex;
    background-color: #2b2e36;
}

label {
    margin-bottom: 5px;
    font-size: 0.9em;
    color: white;
  }

input {
    background-color: #acb9db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1em;
  }

  button{
    background-color: rgb(15, 98, 243);
    color:white;
  }