
.section{
    align-items:center;
}

h2{
    text-align:center;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 300px; 
}

.grid-2 > .box {
    width: 50%;
}

.grid-6 > .box {
    width:16.6%
}

/* ボックスの共通スタイル */
.grid-4 > .box{
    width:25%;
}

.box {
    background-color: black;
    color: white;
    font-size: 20px;
    display:flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
    border:1px white solid;
}

/*
form
*/

.form{
    background-color: #2b2e36;
    padding-bottom:10px;
    width:800px;
    margin:10px auto;
}

table{
    padding:30px;
    margin:0 auto;
}

th{
    text-align:left;
    padding-right:20px;
}

td input{
    min-width: 500px;
    padding:8px;
}

.action{
    display:block;
    text-align: center;
  }

.action button{
    margin-bottom:10px;
}

label {
    margin: 5px;
    font-size: 0.9em;
    color: white;
  }

input {
    background-color: #acb9db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1em;
  }

  button{
    background-color:rgb(85, 181, 255);
    border:1px #2b2e36 solid;
    color:white;
    width:100px;
    height:30px;
  }

  .action > p {
    color:rgba(255, 255, 255, 0.751);
  }